body{
	margin:0px;
	padding:0px;
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
}

<!-- Style grid -->
.grid:after{
	clear:both;
	content:'';
	display: table;
}

[class*='c-']{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
}

.rgrid [class*='c-']{
	float:right;
}

.clearfix{
	clear:both;
}

/*------------------------------*/
.wrap_header{
	width: 800px;
	height: 40px;
	margin: auto;
	background: #4e729a;
	border-radius: 0 0 4px 4px;
	font-weight: bold;
	font-size: 11px;
	text-shadow: 0px 1px 0px #4e7097;
}

.content{
	width: 800px;
	height: 40px;
	margin: auto;
}

#container{
	width: 100%;
	height: 100%;
}

.wrap_header .c-title{
	width:25%;
	text-align: center;
}

.wrap_header .c-user{
	width:10%;
}

.wrap_header a{
	font-size: 15px;
	height: inherit;
	line-height: 40px;
	color: #E8EFF7;
	text-decoration: initial;
}

.wrap_header .c-title a{
	font-size: 15px;
}

.wrap_header .c-list-links{
	width: 65%;	
}

.wrap_header .c-list-links ul li{
	display:inline-block;
	margin:0 10px;
}

.wrap_header .c-list-links ul{
	padding: 0;
	margin: 0;
	float: right;
}

.list-set .c-set-item, .c-left .c-set-item{
	width: 130px;
	height: 130px;
	background: #DFDFDF;
	position: relative;
	margin:15px;
}

.list-set .c-set-item .title, .c-left .c-set-item .title{
	position: absolute;
	bottom: 0px;
	width: 100%;
	line-height: 25px;
	text-align: center;
	color: #fff;
	background: #5F5F5F;
}

.header-of-part{
	text-align: center;
	margin: 20px 0 0;
	font-size: 19px;
	border-bottom: 1px solid #BABABA;	
}

.attention{
	color: #394E9D;
	font-weight: bold;
}

.list-word .c-word-item{
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px dotted #A6A6A6;
	padding-left: 5px;
	position: relative;
}

.list-word .c-word-item div{
	display:inline;
}

.list-word .c-word-item .title{
	color: #47A3FD;
	font-size: 18px;
	margin:0 0 0 5px;
}

.list-word .c-word-item .separator{
	color: #A8A8A8;
	font-weight: bold;
	margin: 6px;
}

.panel-translate{
	width:100%;
	padding: 5px;
	box-sizing: border-box;
	background-color: #eee;
	border: 1px solid #CDCDCD;
	padding-bottom: 0;
}

.field-input{
	width:100%;
	margin-bottom: 5px;
	position: relative;
}

.word .c-left{
	width: 25%;
	height: 300px;
	border-right:1px solid #eee;
}

.word .c-right{
	width: 73%;
	margin-left: 10px;
	margin-top: 20px;
}

.c-left .c-set-item{
	width: 150px;
	height: 150px;
	margin-left: 20px;
}

#translate{
	padding: 5px;
	width: 100%;
	font-size: 20px;
	box-sizing: border-box;
}

#create-set,#cancel-set{
	padding: 5px;
	font-size: 20px;
	width: 20%;
	box-sizing: border-box;
}

.panel-translate.phrase .trans{
	width: 100%;
}

.panel-translate .item-word{
	padding: 5px;
	border-bottom: 1px solid #D2D2D2;
}

.trans .item-word:last-child{
	border: none;
}

.single-table .freq,.phrase-table .freq{
	width: 3%;
}

.single-table .word{
	width: 40%;
}

.phrase-table .word{
	width: 70%;
}

.single-table .help{
	text-align: right;
}

.single-table .separator td, .phrase-table .separator td{
	border-bottom: 1px solid #C2C2C2;
	padding-top: 10px;
	color: #4F4F4F;
	font-weight: bold;
}

.single-table .word:hover,.phrase-table .word:hover{
	text-decoration: underline;
	cursor: pointer;
}

.single-table,.phrase-table{
	width: 100%;
}

.word .c-count{
	margin-left: 10px;
}

.word .c-count #count{
	font-size: 16px;
	font-weight: bold;
	color: #4A4766;
	text-decoration: underline;
}

.list-word .translate a{
	text-decoration: none;
	color: #0500CA;
	display:none;
}

.list-word .translate span:hover a{
	display: inline;
}

.list-word .c-word-item .status{
	position: absolute;
	top: 11px;
	right: 20px;
}

.list-word .c-word-item .remove{
	float: right;
	display: none;
}

.list-word .c-word-item:hover .remove{
	display: inline;
}

.header-of-part .edit-set{
	float:right;
}

.list-set .add-set-panel{
	width: 300px;
	position: fixed;
	left: 300px;
	top: 200px;
	border: 1px solid #B3B3B3;
	background-color: #fff;
	z-index: 2;
	padding: 15px;
	box-sizing: border-box;
	display: none;
}

.list-set{
	position: relative;
}

.list-set .add-set-panel input{
	padding: 5px;
	width: 100%;
	font-size: 20px;
	box-sizing: border-box;
	margin-bottom: 10px;
}

#create-set,#cancel-set{
	width: 49%;
}

.add-set-panel .header-new-set{
	text-align: center;
	font-size: 18px;
	padding-bottom: 5px;
	text-decoration: underline;
}

.word .c-left .c-set-item .del{
	float: right;
	margin: 5px;
	font-size: 18px;
	cursor: pointer;
	color: #7A7AE4;
	margin-right: 8px;
	display: none;
}

.word .c-left .c-set-item .del:hover{
	text-decoration: underline;
}

.word .c-left .c-set-item:hover .del{
	display: block;
}

#cancel,#sound-btn,#commit,.show-status{
	background-image: url('/public/img/buttons11.png');
	width: 25px;
	height: 25px;
	background-position: -467px -1px;
	background-repeat: no-repeat;
	background-size: 780px 25px;
	cursor: pointer;
	position: absolute;
	top: 5px;
	left: 73%;
}

#cancel:hover,#sound-btn:hover,#commit:hover,.list-word .voice-field span:hover{
	border: 1px solid #eee;
}

#sound-btn{
	background-position: -88px -1px;
	left: 83%;
}

#commit{
	background-position: -21px -1px;
	left: 94%;
}

#cancel{
	background-position: -467px -1px;
	left: 88%;
}

.list-word .voice-field{
	position: relative;
	display: inline-block !important;
	width: 25px;
}

.list-word .voice-field span{
	background-image: url('/public/img/buttons11.png');
	width: 20px;
	height: 20px;
	background-position: -91px -1px;
	background-repeat: no-repeat;
	background-size: 777px 21px;
	cursor: pointer;
	position: absolute;
	top: -2px;
	left: 4px;
	display: block;
}

.top-check{
	margin-top: 10px;
	background-color: #eee;
	padding: 5px;
	border: 1px solid #C2C2C2;
	height: 33px;
	line-height: 33px;
}

.top-check .check-all-word,.top-check .checked-words,.top-check .vvcount-words{
	display: inline-block;
}

.top-check .checked-words{
	margin-left: 5px;
}

.top-check .count-words{
	display:inline-block;
}

.train{
	margin-top: 25px;
	height: 390px;
	background-color: #fff;
}

.train>div{
	margin: 2%;
	text-align: center;
	position: relative;
	background-color: #eee;
	box-shadow: 0 2px 2px 1px #d8d8d0;
	cursor: pointer;
}

.train>div:first-child{
	cursor:default;
}

.train>div .title{
	width: 100%;
	position: absolute;
	height: 30px;
	bottom: 0px;
	left: 0px;
	line-height: 30px;
	background-color: #E0E0E0;
}

.train>div:hover .title{
	background-color: #C5DFE2;
}

.train>div .fill{
	position: absolute;
	width: 110px;
	height: 110px;
	display: block;
	left: 27%;
	top: 12px;
}

.train .c-left-full .fill{
	top: 25%;
	left: 20%;
	background-position: -414px -116px;
	width: 163px;
	background-size: 1188px 317px;
	height: 150px;
}

.train .c-top-panel{
	width: 98%;
	padding: 4px;
	margin: 2% 1%;
	text-align: left;
}

.train .c-left-full{
	width: 34%;
	height: 334px;
	margin-left: 3%;
}

.train .c-wt{
	width: 26%;
	height: 150px;
	text-align: center;
}


.train .c-tw .fill{
	background-size: 1050px 283px;
	background-position: -370px 0px;
	height: 103px;
}

.train .c-tw{
	width: 26%;
	height: 150px;
}

.train .c-speech .fill{
	background-position: -255px 0;
	height: 98px;
}

.train .c-speech{
	width: 26%;
	height: 150px;
}

.train .c-spell .fill{
	background-position: -648px 0;
	width: 100px;
	height: 100px;
}

.train .c-spell{
	width: 26%;
	height: 150px;
}

#select-sets{
	padding: 6px;
	margin: 5px;
	width: 35%;
	margin-left: 2%;
}

.train-container{
	width: 85%;
	margin: 20px auto;
}

.train-container .c-left-train, .train-container .c-right-train{
	margin: 10% 1%;
	width: 48%;
}

.train-container .c-right-train ul{
	padding: 0;
	margin:0;
}

.train-container .c-right-train ul li{
	list-style: none;
	margin: 5px;
}
.train-container .c-left-train div{
	font-size: 18px;
	color: #334D76;
	position: relative;
}
.train-container .c-right-train ul li a,.c-go-further a,.btn{
	display: inline-block;
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
	text-decoration: none;

	font-size: 15px;
	line-height: 1;
	padding: 9px;
	height: auto;
	border-radius: 2px;
	color: #333;
	border-style: solid;
	border-width: 1px !important;
	border-color: #DDDDDD #DDDDDD #C4C4C4;
	text-shadow: 0 1px rgba(255,255,255,0.5);
	font-size: 16px;
	margin: 1px 0;
	box-shadow: 0 1px #f1f1f1 inset,0 -1px #f8f8f8 inset,-1px 0 #f8f8f8 inset,1px 0 #fff inset,0 1px #C7C6BE;
}

/*.train-container .c-right-train ul li a:hover{
	background-color: #eee;
}*/

.train-container .c-left-train .st{
	background-image: url('/public/img/buttons11.png');
	width: 23px;
	height: 22px;
	background-position: -87px -3px;
	background-repeat: no-repeat;
	background-size: 758px 25px;
	cursor: pointer;
	display: inline-block;
	position: absolute;
	cursor: pointer;
}

.train-container .c-left-train .st:hover{
	border: 1px solid #D7D7D7;
}

.train-container .c-left-train div .st+span{
	position: absolute;
	left: 30px;
	top: 1px;
}

.train-count{
	width: 85%;
	margin: auto;
	padding: 10px;
	margin-top: 20px;
	background-color: #EEE;
	border: 1px solid #C8C8C8;
}

.hgreen{
	border-color: #276710 #296C0B #296C0C !important;
	background: #589047;
	background: -webkit-linear-gradient(top, #5F9D4D, #589047 50%, #508142);
	background: -moz-linear-gradient(top, #5F9D4D, #589047 50%, #508142);
	background: -o-linear-gradient(top, #5F9D4D, #589047 50%, #508142);
	background: -ms-linear-gradient(top, #5F9D4D, #589047 50%, #508142);
	background: linear-gradient(top, #5F9D4D, #589047 50%, #508142) !important;
	box-shadow: 0 1px #276710 inset !important;
	color: #fff !important;
	text-shadow: 0 -1px #33721E !important;
	cursor: pointer;
}

.hred{
	border-color: #9F402A #9F402A #801902 !important;
	background: #B54028 !important;
	background: -webkit-linear-gradient(top, #C94933, #A73A20);
	background: -moz-linear-gradient(top, #C94933, #A73A20);
	background: -o-linear-gradient(top, #C94933, #A73A20);
	background: -ms-linear-gradient(top, #C94933, #A73A20);
	background: linear-gradient(top, #C94933, #A73A20);
	box-shadow: 0 1px #DF9285 inset,0 -1px #AB5946 inset,1px 0 #C05A45 inset,-1px 0 #C05A45 inset !important;
	text-shadow: 0 -1px #821700 !important;
	color: #ffffff !important;
}

.hblue{
	border-color: #4085BD #4085BD #2C5F88 !important;
	border-bottom-width: 2px !important;
	background: #62A4D9 !important;
	background: -webkit-linear-gradient(top,#62A4D9,#3D81B9);
	background: -moz-linear-gradient(top,#62A4D9,#3D81B9);
	background: -o-linear-gradient(top,#62A4D9,#3D81B9);
	background: -ms-linear-gradient(top,#62A4D9,#3D81B9);
	background: linear-gradient(top,#62A4D9,#3D81B9);
	box-shadow: 0 1px #91BFE4 inset,1px 0 #6BA5D4 inset,-1px 0 #6BA5D4 inset,0 -1px #5995C6 inset !important;
	color: #fff !important;
	text-shadow: 0 -1px #325386 !important;
}

.next-train .no-idea{
	display: inline;
}

.next-train .next-tr{
	display: none;
}

.next-train.too .next-tr{
	display: inline;
}

.next-train.too .no-idea{
	display: none;
}

.train-count .set-name-train{
	font-size: 18px;
	text-decoration: underline;
	color: #333;
}

.train-count .count-word-training{
	float:right;
}

.c-res-tr .check-field{
	margin-right: 10px;
}

.c-res-tr .voice-field{
	position: relative;
	display: inline-block !important;
	width: 25px;
}

.c-res-tr .voice-field span{
	background-image: url('/public/img/buttons11.png');
	width: 20px;
	height: 20px;
	background-position: -91px -1px;
	background-repeat: no-repeat;
	background-size: 777px 21px;
	cursor: pointer;
	position: absolute;
	top: -2px;
	left: 4px;
	display: block;
}

.c-res-tr .translate a{
	text-decoration: none;
	color: #0500CA;
	display:none;
}

.c-res-tr .translate span:hover a{
	display: inline;
}

.c-res-tr .c-word-item .remove{
	float: right;
	display: inline;
}

.c-res-tr .c-word-item{
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px dotted #A6A6A6;
	padding-left: 5px;
}

.c-res-tr .c-word-item:last-child{
	border-bottom:none;
}

.c-res-tr .c-word-item div{
	display:inline;
}

.c-res-tr .c-word-item .title{
	color: #47A3FD;
	font-size: 18px;
	margin:0 0 0 5px;
}

.c-res-tr .c-word-item .separator{
	color: #A8A8A8;
	font-weight: bold;
	margin: 6px;
}

.c-go-further{
	width: 100%;
	margin-top: 10px;
	text-align: center;
}

.c-left-train .title{
	position: absolute;
	left: 27px;
}

.c-res-tr{
	width: 100%;
}

.btn{
	width: 200px;
	text-align: center;
	cursor:pointer;
}

.btn:active{
	background: #538CBA
}


.train div .fill{
	background-image: url("/public/img/ling.png");
	background-position: 0 0;
	background-size: 1046px 276px;
	background-repeat: no-repeat;
}

.sel{
	-webkit-appearance: button;
	appearance: button;
	background: url('/public/img/select.png') 100% no-repeat whiteSmoke;
	background-position-x: 255px;
	background-position-y: center;
	border: 1px solid gainsboro;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font-size: 13px;
	line-height: 20px;
	outline: none;
	padding: 5px 0;
	width: 180px;
	cursor: pointer;
}

.inpt{
	/*font: 13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";*/
	color: #333;
	font-size: 12px;
}

.btns-top{
	display: none;
	margin-left: 15px;
}

.btns-top .btn, .learn-word{
	padding: 5px;
	width: 100px;
}

.learn-word{
	float: right;
}

.c-word-item .show-status{
	position: absolute;
	top: 10px;
	right: 20px;
	left: initial;
	background-position: -533px -1px;
	background-size: 775px 22px;
	width: 20px;
	height: 20px;
}